html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(180deg, #1edbd0 0%, #096862 100%); */
  /* background: linear-gradient(180deg, #1e1e1e 0%, #000000 100%); */
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  color: #f2faff;
}

#root {
  height: 100%;
}
